:80 {
  handle /api/* {
    reverse_proxy http://backend:8000
  }

  handle /ws/* {
    reverse_proxy http://backend:8000
  }

  # Serve media files directly from the volume for better performance
  handle /media/* {
    root * /baserow
    file_server
  }

  reverse_proxy http://web-frontend:3000
}