:80 {
  handle /api/* {
    reverse_proxy http://backend:8000
  }

  handle /ws/* {
    reverse_proxy http://backend:8000
  }

  # Serve media files directly from the volume
  handle_path /media/* {
    root * /baserow/media
    file_server
  }

  reverse_proxy http://web-frontend:3000
}